<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.my.mapper.AgEastmoneyStockStrategyMapper">

<!--
 T日（比如2026-06-11）出现买点机会，看T+1日（比如2026-06-12）
 如果T+1的收盘chg<-5%,则在T+2,以(T+1)的收盘价格*（1-4%）的价格buy
 如果T+1的收盘chg>-5%,则在尾盘以close价格buy
 持有最多3天
 -->
    <select id="strategy_1" resultType="net.my.pojo.SpecialCarePoJo2">
        <![CDATA[
        -- 1、找到 win_ratio >= 50 的日期，然后再去看能否入手，看echart在底部
        with tmp_69 as (
            select t1.`_date` name
                 , round(cnt_win/cnt_all * 100) value9
                 -- , case when round(cnt_win/cnt_all * 100) <= 75 then 0 else round(cnt_win/cnt_all * 100) end value9
                 , sum(case when `_direction` = 'S' and `_9_zhuan` in ('06', '07', '08', '09') then 1
                            when `_direction` = 'B' and `_9_zhuan` in ('06', '07', '08', '09') then -1
                            else 0 end) value10
                 -- , round(cnt_win/cnt_all * 100), cnt_all
            from t_eastmoney_node_9_zhuan t1, t_eastmoney_node_avg_statis tenas
            where t1.`_date` > '2025-01-01'
              and t1.`_date` = tenas .`_date`
            group by t1.`_date`, value9
            order by 1 desc
            limit 250
        )
        , tmp_69_rank as (
            select t.name
                    , t.value9
                    , t.value10
                    , rank() over (order by t.value10) rank_
            from tmp_69 t
        )
        -- 2、找到目标日期
        , target_days as (
            select t.name today_date
                    , t.value9 win_ratio
                    , t.value10 today_value
                    , t1.value10 limit_line
                    , rank() over (order by t.name desc) date_rn
            from tmp_69_rank t
                    , (select max(value10) value10 from tmp_69_rank where rank_ <= 250 * 0.2) t1
            where t.value10 < t1.value10 * 1.2 -- 需要低于buy线
            --  and t.value9 >= 50  -- win_ratio需要大于50
        )
        -- 3、测算sql
        , tmp_dates_000001 as (
            select  teni.date date_next_0
                    , lead(teni.`date` , 1) over (order by teni.`date` ) date_next_1
                    , lead(teni.`date` , 2) over (order by teni.`date` ) date_next_2
                    , lead(teni.`date` , 3) over (order by teni.`date` ) date_next_3
                    , lead(teni.`date` , 4) over (order by teni.`date` ) date_next_4
                -- , lag(teni.`date` , 1) over (order by teni.`date` ) date_pre_1
            from t_eastmoney_node_index teni
            where teni.`date` >= '2026-06-10' -- (select today_date from target_days where date_rn = 2) -- '2026-06-11'
              and teni.stockCode = '1.000001'
        )
        , tmp_dates as (
            select  t1.*
            from tmp_dates_000001 t1, target_days t2
            where date_rn <= 5  -- teni.`date` >= '2026-06-10' -- (select today_date from target_days) -- '2026-06-11'
              and t1.date_next_0 = t2.today_date
        ) -- select * from tmp_dates  order by 1, 2;
        , tmp_ans as (
            select tenr.stockCode , tenr.stockName , tenr.info
                    , sum(case when ten.`date` = td.date_next_0 then last else 0 end) last
                    , sum(case when ten.`date` between td.date_next_2 and ifnull(td.date_next_4, '9999') then chg else 0 end) should_win_chg
                -- , sum(case when ten.`date` >= td.date_next_1 then chg else 0 end) chg_t_plus
                -- , sum(case when ten.`date` >= td.date_next_0 then chg else 0 end) chg_t
                    , sum(case when ten.`date` = td.date_next_0 then chg else 0 end) chg_next_0
                    , sum(case when ten.`date` = td.date_next_1 then chg else 0 end) chg_next_1
                    , sum(case when ten.`date` = td.date_next_2 then chg else 0 end) chg_next_2
                    , sum(case when ten.`date` = td.date_next_3 then chg else 0 end) chg_next_3
                    , sum(case when ten.`date` = td.date_next_4 then chg else 0 end) chg_next_4
                    , td.date_next_0, date_next_1, date_next_2, date_next_3, date_next_4
            from t_eastmoney_node_right tenr , t_eastmoney_node ten , t_hs300 th, tmp_dates td
            where tenr.`date` = td.date_next_0 -- and ten.date <= '2026-06-15'
                -- and substring(tenr.stockName , 1, 2) >= '07'
                -- and ten.`date` < '3000'
              and ten.`date` >= td.date_next_0
              and tenr.stockCode = th.stockCode
              and ten.stockCode = th.fullStockCode
              and tenr.info like '%222_223%' -- 多头排列
              and tenr.info like '%225%' -- 大波动
                -- and td.date_pre_1 is null
            group by td.date_next_0, tenr.stockCode , tenr.stockName, tenr.info , td.date_next_0, date_next_1, date_next_2, date_next_3, date_next_4
        )
        , tmp_today as (select max(date) date_ from t_eastmoney_node_index teni )
        , tmp_max_date as (select today_date date_max_in_target_days from target_days where date_rn = 1)
        select stockCode
                , case when t3.date_max_in_target_days = date_next_0 then concat('*', date_next_0)
	                   when t2.date_ = date_next_0 then concat('**', date_next_0) else date_next_0 end date, stockName last
                , concat('should_win_chg=', round(should_win_chg, 1)
                        , '; last=', round(last, 2)
                        , '; chg=', round(chg_next_0, 1)
                        , '; chg_next_1=', round(chg_next_1, 1)
                        , '; chg_next_2=', round(chg_next_2, 1)
                        , '; chg_next_3=', round(chg_next_3, 1)
                        , '; chg_next_4=', round(chg_next_4, 1)
                        , '; info=', info
                        ) ratioB
               -- , info, should_win_chg, last, chg_next_0 chg , chg_next_1, chg_next_2, chg_next_3, chg_next_4
               -- , concat(date_next_0, ': ', chg_next_0) chg_next_0
               -- , concat(date_next_1, ': ', chg_next_1) chg_next_1
               -- , concat(date_next_2, ': ', chg_next_2) chg_next_2
               -- , concat(date_next_3, ': ', chg_next_3) chg_next_3
               -- , concat(date_next_4, ': ', chg_next_4) chg_next_4
        from tmp_ans t1, tmp_today t2, tmp_max_date t3
        order by date_next_0 desc, 3 desc
        ]]>
    </select>


    <select id="strategy_2" resultType="net.my.pojo.SpecialCarePoJo2">
        <![CDATA[
        with tmp_calc_dates as (
            select date tc_date
            from t_eastmoney_node_index teni
            where stockCode = '1.000001'
            order by `date` desc
            limit 10
        )
        , tmp as (
            select `date`
                , tc_date
                , lag(`date`, 1) over (partition by stockCode, tcd.tc_date order by ten.`date` ) date_pre_1
                , lag(volume, 1) over (partition by stockCode, tcd.tc_date order by ten.`date` ) vol_pre_1
                , lag(volume, 2) over (partition by stockCode, tcd.tc_date order by ten.`date` ) vol_pre_2
                , volume
                , rank() over (partition by stockCode, tcd.tc_date order by ten.`date` desc) date_rank
                , last
                , chg
                , stockCode
                , lead(chg, 1) over (partition by stockCode, tcd.tc_date order by ten.`date` ) chg_next_1
                , lead(chg, 2) over (partition by stockCode, tcd.tc_date order by ten.`date` ) chg_next_2
            from t_eastmoney_node ten, tmp_calc_dates tcd
            where ten.`date` <= '2099' -- and  stockCode = '0.002056'
              AND ten.`date` > DATE_FORMAT(DATE_ADD(SYSDATE() , INTERVAL -60 DAY), '%Y-%m-%d')
              and ten.stockCode not like '%.3%'
              and ten.stockCode not like '%.68%'
              and ten.stockCode not like '%.69%'
              AND ten.`date` <= tc_date
        ) -- select * from tmp where stockCode = '0.002025' order by 2 desc, 1 desc;
        -- 1)、成交量>前2天之和
        , tmp_vol as (
            select distinct tc_date, stockCode
            from tmp
            where volume > vol_pre_1 + vol_pre_2
              and date_rank <= 3
        )
        -- 2)、5天内存在chg>5
        , tmp_has_5_chg as (
            select t.stockCode, tc_date, max(chg) chg_max
            from tmp t
            where t.date_rank <= 3
            group by t.stockCode, tc_date
            having chg_max > 5
        )
        -- 3)、5、10、20多头
        , tmp_30_duotou as (
            select t1.date, t1.tc_date, t1.date_rank, t1.date_pre_1, t1.stockCode, t1.chg
                , max(t1.last) `last`
                , round(avg(case when t1.date_rank + 3 > t2.date_rank then round(t2.last, 4) else null end), 3) ma3
                , round(avg(case when t1.date_rank + 6 > t2.date_rank then round(t2.last, 4) else null end), 3) ma6
                , round(avg(case when t1.date_rank + 12 > t2.date_rank then round(t2.last, 4) else null end), 3) ma12
                , round(avg(case when t1.date_rank + 24 > t2.date_rank then round(t2.last, 4) else null end), 3) ma24 -- 计算 bbi
                , round(avg(case when t1.date_rank + 5 > t2.date_rank then round(t2.last, 4) else null end), 3) ma5
                , round(avg(case when t1.date_rank + 10 > t2.date_rank then round(t2.last, 4) else null end), 3) ma10
                , round(avg(case when t1.date_rank + 20 > t2.date_rank then round(t2.last, 4) else null end), 3) ma20 -- 计算均线
                , round(sum(case when t1.date_rank + 5 > t2.date_rank then round(t2.chg, 4) else 0 end), 3) chg_sum_5
                --        , sum(case when t1.date_rank + 30 > t2.date_rank then 1 else 0 end) cnt_
            from tmp t1, tmp t2
            where t1.stockCode = t2.stockCode
              and t1.tc_date = t2.tc_date
              and t1.date_rank <= t2.date_rank
                --      and t1.date_rank <= 30
            group by t1.date, t1.tc_date, t1.date_rank, t1.date_pre_1, t1.stockCode, t1.chg
            having max(t1.last) >= ma5 and ma5 >= ma10 * 0.98 and ma10 >= ma20 * 0.98
                 --     and cnt_ = 30
               and chg_sum_5 > 10
        ) -- select * from tmp_30_duotou where stockCode = '0.002056';
        -- 4)、last 在bbi上方
        select th.stockCode, t.date, concat(th.bkName, '-',  th.stockName) last
               -- , concat('last:', t.last, '; ma5:', t.ma5, '; ma10:', t.ma10, '; ma20:', t.ma20, '; bbi:', round((t.ma3+t.ma6+t.ma12+t.ma24)/4, 3)) ratioB
               , concat('should_win_chg=', round(t3.chg_next_2, 1)
                        , '; last=', round(t.last, 2)
                        , '; chg=', round(t.chg, 1)
                        , '; chg_next_1=', round(t3.chg_next_1, 1)
                        , '; chg_next_2=', round(t3.chg_next_2, 1)
                        , '; ma5=', round(t.ma5, 1)
                        , '; ma10=', round(t.ma10, 1)
                        , '; ma20=', round(t.ma20, 1)
                        , '; bbi=', round((t.ma3+t.ma6+t.ma12+t.ma24)/4, 3)
                        , '; info=', 'T+1买(T+2卖)'
                        ) ratioB
               -- , t3.chg_next_1, t3.chg_next_2
               -- , t.last, t.ma5, t.ma10, t.ma20
        	   -- , round((t.ma3+t.ma6+t.ma12+t.ma24)/4, 3) bbi
        from tmp_30_duotou t, tmp_has_5_chg t1, tmp_vol t2, t_hs300 th, tmp t3
        where t.date_rank = 1
          and t.stockCode = t1.stockCode
          and t.tc_date = t1.tc_date
          and t.stockCode = t2.stockCode
          and t.tc_date = t2.tc_date
          and t.stockCode = th.fullStockCode
          and t.stockCode = t3.stockCode
          and t.date = t3.date
          and t3.tc_date = (select max(tc_date) from tmp_calc_dates)
          and t.last >= round((t.ma3+t.ma6+t.ma12+t.ma24)/4, 3)
        order by 2 desc, 1 desc
        ]]>
    </select>


    <select id="strategy_3" resultType="net.my.pojo.SpecialCarePoJo2">
        <![CDATA[
        with tmp_codes as (select distinct fullStockCode from t_longtou)
        , tmp_rank as (
            select ten.date, ten.chg, ten.stockCode, ten.`last`
                   , rank() over (partition by ten.stockCode order by ten.`date` desc) date_rank
            from t_eastmoney_node ten, tmp_codes tc
            where ten.stockCode = tc.fullStockCode
            and ten.date < '2099-01-01'
            AND ten.`date` > DATE_FORMAT(DATE_ADD(SYSDATE() , INTERVAL -90 DAY), '%Y-%m-%d')
        ) -- select * from tmp_rank;
        , tmp_duotou as (
            select t1.date, t1.date_rank, t1.stockCode, t1.chg, t1.last
                -- , max(t1.last) `last`
                , round(avg(case when t1.date_rank + 5 > t2.date_rank then round(t2.last, 4) else null end), 3) ma5
                , round(avg(case when t1.date_rank + 10 > t2.date_rank then round(t2.last, 4) else null end), 3) ma10
                , round(avg(case when t1.date_rank + 20 > t2.date_rank then round(t2.last, 4) else null end), 3) ma20 -- 计算均线
                -- , sum(case when t1.date_rank + 20 > t2.date_rank then 1 else 0 end) ma_cnt -- 计算均线天数
            from tmp_rank t1, tmp_rank t2
            where t1.stockCode = t2.stockCode
              and t1.date_rank <= t2.date_rank
            group by t1.date, t1.date_rank, t1.stockCode, t1.chg, t1.last
            -- having ma5 >= ma10 and ma10 >= ma20
        ) -- select * from tmp_30_duotou;
        , tmp_today as (
            select * from tmp_duotou where date_rank <= 5
        ) -- select * from tmp_today;
        , tmp_ans as (
            select -- distinct tt.`date` , tlt.stockCode , tlt.stockName , tlt.bkName , tlt.ranking, tt.chg, tt.`last`
                  -- , case when tt.last >= tt.ma5 and tt.ma5 > tt.ma10 * 0.98 and tt.ma10 > tt.ma20 * 0.98 then '多头排列' else '' end 'duo_tou'
                  -- , tbk.chg_avg
                  distinct tlt.stockCode, tbk.`date`, concat(tlt.bkName, '-', tlt.ranking, '-', tlt.stockName) last
                  , concat('当天chg=', round(tt.chg, 2), '; '
                            , '板块avg-chg=', round(tbk.chg_avg, 1)
                            , case when tt.last >= tt.ma5 and tt.ma5 >= tt.ma10 * 0.98 and tt.ma10 >= tt.ma20 * 0.98 then '多头排列' else '' end
                          ) ratioB
                   , tbk.chg_avg
            from tmp_today tt, t_longtou tlt
                 , (
                    select date, bkName, round(avg(chg), 1) chg_avg from tmp_today t1, t_longtou tlt where t1.stockCode = tlt.fullStockCode group by date, tlt.bkName
                 ) tbk
            where tt.stockCode = tlt.fullStockCode
            and tbk.bkName = tlt.bkName
            and tbk.date = tt.date
            order by tbk.date desc, tbk.chg_avg desc, concat(tlt.bkName, '-', tlt.ranking, '-', tlt.stockName)
        )
        select stockCode, date, last, ratioB from tmp_ans;
        ]]>
    </select>


    <select id="strategy_5" resultType="net.my.pojo.SpecialCarePoJo2">
        <![CDATA[
            with tmp_date_rank as (
                select rank() over (order by `date` desc) date_rn, date
                from t_eastmoney_node_index teni
                where stockCode = '1.000001'
            -- and `date` < '2026-07-18'
            )
            , tmp_ans as (
                select
                       lag(date, 1) over (partition by ten.stockCode order by `date` ) pre_date
                       , lag(volume, 1) over (partition by ten.stockCode order by `date` ) pre_volume
		               , lag(volume, 2) over (partition by ten.stockCode order by `date` ) pre_volume_2
		               , lag(volume, 3) over (partition by ten.stockCode order by `date` ) pre_volume_3
                       , ten.*
                from t_eastmoney_node ten
                where ten.`date` > (select min(date) from tmp_date_rank where date_rn <=5)
                and ten.`date` < '2099'
            )
            , tmp_long_shang_yin as (
	            select distinct ta.stockCode
	            from tmp_ans ta
	            where (ta.high - ta.last) > 2*abs(ta.last-ta.open)
	              and abs(abs(ta.high-ta.low)/ta.last*100) > 6
            ) 
            , tmp_die_ting as (
                select distinct ta.stockCode
                from tmp_ans ta
                where ta.chg < -9
            ) -- select * from tmp_die_ting;
            , tmp_big_swing as (
                select stockCode, avg(abs(chg)) avg_chg
            from tmp_ans
                group by stockCode
                having avg_chg > 2
            )
            , tmp_suo_liang as (
                select distinct round(ta.volume/ta.pre_volume, 2) ratio
                       , tl.stockCode
                       , ta.pre_volume, ta.chg, ta.last, ta.volume, tl.bkName , tl.stockName, ta.date
                from tmp_ans ta, t_longtou tl, tmp_big_swing tgs
                where 1 = 1
                and ta.date = (select max(date) from tmp_date_rank where date_rn = 1)
                and ta.stockCode = tl.fullStockCode
                and ta.chg > -9 and ta.chg < 9
                and (round(ta.volume/ta.pre_volume, 2) <= 0.68 and ta.last < ta.open or round(ta.volume/ta.pre_volume_2, 2) <= 0.68 and ta.last < ta.open /*or round(ta.volume/ta.pre_volume_3, 2) <= 0.68*/)
                and ta.chg < 0
                and not exists (select 1 from tmp_die_ting tdt where ta.stockCode = tdt.stockCode)
                and not exists (select 1 from tmp_long_shang_yin tdt where ta.stockCode = tdt.stockCode)
                and tl.stockCode not like '3%'
                and tl.stockCode not like '68%'
                and tl.stockCode not like '69%'
                and ta.stockCode = tgs.stockCode
            )
            , tmp_ready as (
	            select t.ratio, t.stockCode, t.pre_volume, t.volume, t.chg, t.last, th.stockName, group_concat(t.bkName) bkName_multi, t.date
	            from tmp_suo_liang t, t_hs300 th
	            where t.stockCode = th.stockCode
	            group by  t.ratio, t.stockCode, t.pre_volume, t.volume, t.chg, t.last, th.stockName, t.date
	        )
	        select t.stockCode, t.date, concat(t.bkName_multi, '-', t.stockName) last
	               , concat('suo-liang-ratio=', t.ratio, '; pre-vol=', t.pre_volume, '; vol=', t.volume, '; last=', t.last, '; chg=', t.chg) ratioB
	        from tmp_ready t
                  , (
                        with tmp_codes as (select distinct fullStockCode from t_longtou)
                            , tmp_rank as (
                                select ten.date, ten.chg, ten.stockCode, ten.`last`
                                    , rank() over (partition by ten.stockCode order by ten.`date` desc) date_rank
                                from t_eastmoney_node ten, tmp_codes tc
                                where ten.stockCode = tc.fullStockCode
                                and ten.date < '2099-01-01'
                                -- and `date` < '2026-07-18'
                                AND ten.`date` > DATE_FORMAT(DATE_ADD(SYSDATE() , INTERVAL -90 DAY), '%Y-%m-%d')
                            ) -- select * from tmp_rank;
                            , tmp_duotou as (
                                select t1.date, t1.date_rank, t1.stockCode, t1.chg, t1.last
                                -- , max(t1.last) `last`
                                    , round(avg(case when t1.date_rank + 5 > t2.date_rank then round(t2.last, 4) else null end), 3) ma5
                                    , round(avg(case when t1.date_rank + 10 > t2.date_rank then round(t2.last, 4) else null end), 3) ma10
                                    , round(avg(case when t1.date_rank + 20 > t2.date_rank then round(t2.last, 4) else null end), 3) ma20 -- 计算均线
                                -- , sum(case when t1.date_rank + 20 > t2.date_rank then 1 else 0 end) ma_cnt -- 计算均线天数
                                from tmp_rank t1, tmp_rank t2
                                where t1.stockCode = t2.stockCode
                                and t1.date_rank <= t2.date_rank
                                group by t1.date, t1.date_rank, t1.stockCode, t1.chg, t1.last
                                -- having ma5 >= ma10 and ma10 >= ma20
                            ) -- select * from tmp_30_duotou;
                            , tmp_today as (
                                select * from tmp_duotou where date_rank <= 5
                            ) -- select * from tmp_today;
                            , tmp_ans as (
                                select -- distinct tt.`date` , tlt.stockCode , tlt.stockName , tlt.bkName , tlt.ranking, tt.chg, tt.`last`
                                -- , case when tt.last >= tt.ma5 and tt.ma5 > tt.ma10 * 0.98 and tt.ma10 > tt.ma20 * 0.98 then '多头排列' else '' end 'duo_tou'
                                -- , tbk.chg_avg
                                distinct tlt.stockCode, tbk.`date`, concat(tlt.bkName, '-', tlt.ranking, '-', tlt.stockName) last
                                    , concat('当天chg=', round(tt.chg, 2), '; '
                                        , '板块avg-chg=', round(tbk.chg_avg, 1)
                                        , case when tt.last >= tt.ma5 and tt.ma5 >= tt.ma10 * 0.98 and tt.ma10 >= tt.ma20 * 0.98 then '多头排列' else '' end
                                        ) ratioB
                                    , tbk.chg_avg
                                from tmp_today tt, t_longtou tlt
                                    , (
                                        select date, bkName, round(avg(chg), 1) chg_avg from tmp_today t1, t_longtou tlt where t1.stockCode = tlt.fullStockCode group by date, tlt.bkName
                                       ) tbk
                                where tt.stockCode = tlt.fullStockCode
                                and tbk.bkName = tlt.bkName
                                and tbk.date = tt.date
                                and tt.last >= tt.ma5 and tt.ma5 >= tt.ma10 * 0.98 and tt.ma10 >= tt.ma20 * 0.98
                                order by tbk.date desc, tbk.chg_avg desc, concat(tlt.bkName, '-', tlt.ranking, '-', tlt.stockName)
                            )
                            select distinct stockCode -- , date, last, ratioB
                            from tmp_ans
                 ) t1
            where  t.stockCode = t1.stockCode
            order by t.ratio, 3;
        ]]>
    </select>


</mapper>